{% load static %}

<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/global.css' %}">
    {% block head %}{%  endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    <footer>
        <a href="https://williamherring.notion.site/compmaster?source=copy_link" class="footer-item" target="_blank">
            {% lucide "book" %}
        </a>
        <a href="https://github.com/william-herring/compmaster" target="_blank">
            {% lucide "github" %}
        </a>
    </footer>
</body>
</html>